body {
  color: #40514E;
  margin: 0;
  text-align: center;
  background-color: #f8e1f4;
}

a {
  font-family: 'Advent Pro', sans-serif;
  margin: 10px 20px;
  font-size: 2rem;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.bottom-container {
  padding: 5em;
}

.contact-message {
  width: 40%;
}

.copyright {
  color: #11999E;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  color: #11999E;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Tangerine', cursive;
  color: #66BFBF;
  margin-bottom: 70px;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Advent Pro', sans-serif;
  color: #66BFBF;
  padding-top: 10px;
}

h3 {
  font-family: 'Manjari', sans-serif;
  color: #11999E;
  padding-top: 50px;
}

hr {
  border-style: none;
  border-color: lightgrey;
  border-top-style: dotted;
  border-width: 10px;
  width: 5%
}

.icon-computer {
  float: left;
  width: 25%;
  margin-right: 50px;
}

.icon-hair {
  float: right;
  width: 25%;
  margin-right: 50px;
}

.icon-contact {
  width: 25%
}

.intro {
  text-align: center;
}

.middle-container {
  margin-top: 100px 50px
}

.Nunds {
  text-decoration: underline;
}

.pro {
  text-decoration: underline;
  font-weight: normal;
}

p {
  font-family: 'Mada', sans-serif;
}

.top {
  position: relative;
  padding-top: 100px;
  padding-bottom: 70px;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.skill-row {
  line-height: 2;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
